<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Hello world!</p>
<form method="post">
    {% csrf_token %}
    <input type="text" name="name">
    <button>Send</button>
</form>

</body>
</html>